In [63]:
import os
import csv
import pandas as pd
csvpath = os.path.join('Sales_Item_Merged.csv')

In [64]:
df = pd.read_csv(csvpath)
df.head()

,Silo,Cust_ID,name_cust,id_st,Date_Invoice,id_item,descr_1,qty_ship,price_net,code_cat_prdt,flag_stat_item,Item_Add_date
0,I,22777,USHER OIL COMPANY,MI,3/18/2019,1000ABS550,ACTIV VIII,8,1750.56,10,A,6/12/2015
1,I,22777,USHER OIL COMPANY,MI,5/21/2019,1000ABS550,ACTIV VIII,8,1838.08,10,A,6/12/2015
2,I,22777,USHER OIL COMPANY,MI,2/11/2020,1000ABS550,ACTIV VIII,4,919.04,10,A,6/12/2015
3,I,22777,USHER OIL COMPANY,MI,4/6/2020,1000ABS550,ACTIV VIII,4,919.04,10,A,6/12/2015
4,I,22777,USHER OIL COMPANY,MI,8/19/2020,1000ABS550,ACTIV VIII,4,919.04,10,A,6/12/2015

In [65]:
# Reference multiple columns within a DataFrame
df[["descr_1", "name_cust", "Date_Invoice", "price_net"]].head()

      descr_1          name_cust Date_Invoice  price_net
0  ACTIV VIII  USHER OIL COMPANY    3/18/2019    1750.56
1  ACTIV VIII  USHER OIL COMPANY    5/21/2019    1838.08
2  ACTIV VIII  USHER OIL COMPANY    2/11/2020     919.04
3  ACTIV VIII  USHER OIL COMPANY     4/6/2020     919.04
4  ACTIV VIII  USHER OIL COMPANY    8/19/2020     919.04

In [67]:
# The mean/averages of the integer series
average = df["price_net"].mean()
average

2349.2181533286935

In [68]:
# The sum method adds every entry in the series
total = df["price_net"].sum()
total

57271589.36

In [69]:
# The unique method shows every element of the series that appears only once
unique = df["descr_1"].unique()
unique

array(['ACTIV VIII', 'BERKEL MIDWEST FRYER CLEANER',
       'SAFE CLEAN 319000-18', ..., 'BRUSH-HI DENSITY SCRUB BRUSH',
       'BRUSH-SIDE SCRUB BRUSH', 'BRUSH-GRIT SIDE SCRUB BRUSH.'],
      dtype=object)

In [70]:
## Reorganizing the columns using double brackets
organized_df = df[["Date_Invoice", "descr_1","price_net","name_cust"]]
organized_df.head()

  Date_Invoice     descr_1  price_net          name_cust
0    3/18/2019  ACTIV VIII    1750.56  USHER OIL COMPANY
1    5/21/2019  ACTIV VIII    1838.08  USHER OIL COMPANY
2    2/11/2020  ACTIV VIII     919.04  USHER OIL COMPANY
3     4/6/2020  ACTIV VIII     919.04  USHER OIL COMPANY
4    8/19/2020  ACTIV VIII     919.04  USHER OIL COMPANY

In [62]:
# does year equals to 2002?
# is_2002 is a boolean variable with True or False in it
#>is_2002 =  gapminder['year']==2002
#>print(is_2002.head())

In [60]:
#Select the Date_Invoice of dataframe
s=organized_df["Date_Invoice"][0]
s[5:len(s)]
s[-4:]

'2019'

In [61]:
is_2019 = organized_df["Date_Invoice"]==2019
is_2019

0        False
1        False
2        False
3        False
4        False
         ...
24374    False
24375    False
24376    False
24377    False
24378    False
Name: Date_Invoice, Length: 24379, dtype: bool