In [1]:
import os
import csv
import pandas as pd
csvpath = os.path.join('Sales_Item_Merged.csv')

In [28]:
df = pd.read_csv(csvpath)
df.head()

,Silo,Silo_Description,Cust_ID,name_cust,id_st,Date_Invoice,id_item,descr_1,qty_ship,price_net,code_cat_prdt,category,flag_stat_item,code_comm,Item_Add_date
0,I,Industrial,22777,USHER OIL COMPANY,MI,3/18/2019,1000ABS550,ACTIV VIII,8,1750.56,10,AC8000 MOD,A,FNSG,6/12/2015
1,I,Industrial,22777,USHER OIL COMPANY,MI,5/21/2019,1000ABS550,ACTIV VIII,8,1838.08,10,AC8000 MOD,A,FNSG,6/12/2015
2,I,Industrial,22777,USHER OIL COMPANY,MI,2/11/2020,1000ABS550,ACTIV VIII,4,919.04,10,AC8000 MOD,A,FNSG,6/12/2015
3,I,Industrial,22777,USHER OIL COMPANY,MI,4/6/2020,1000ABS550,ACTIV VIII,4,919.04,10,AC8000 MOD,A,FNSG,6/12/2015
4,I,Industrial,22777,USHER OIL COMPANY,MI,8/19/2020,1000ABS550,ACTIV VIII,4,919.04,10,AC8000 MOD,A,FNSG,6/12/2015

In [32]:
# Create year column
df['year'] = pd.DatetimeIndex(df['Date_Invoice']).year.astype(object)
df

,Silo,Silo_Description,Cust_ID,name_cust,id_st,Date_Invoice,id_item,descr_1,qty_ship,price_net,code_cat_prdt,category,flag_stat_item,code_comm,Item_Add_date,year
0,I,Industrial,22777,USHER OIL COMPANY,MI,3/18/2019,1000ABS550,ACTIV VIII,8,1750.56,10,AC8000 MOD,A,FNSG,6/12/2015,2019
1,I,Industrial,22777,USHER OIL COMPANY,MI,5/21/2019,1000ABS550,ACTIV VIII,8,1838.08,10,AC8000 MOD,A,FNSG,6/12/2015,2019
2,I,Industrial,22777,USHER OIL COMPANY,MI,2/11/2020,1000ABS550,ACTIV VIII,4,919.04,10,AC8000 MOD,A,FNSG,6/12/2015,2020
3,I,Industrial,22777,USHER OIL COMPANY,MI,4/6/2020,1000ABS550,ACTIV VIII,4,919.04,10,AC8000 MOD,A,FNSG,6/12/2015,2020
4,I,Industrial,22777,USHER OIL COMPANY,MI,8/19/2020,1000ABS550,ACTIV VIII,4,919.04,10,AC8000 MOD,A,FNSG,6/12/2015,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23367,I,Industrial,1801,MSP INDUSTRIES,MI,9/27/2019,ZS401,BRUSH-SPIRAL WRAP SCRUB BRUSH,2,1139.50,ZS,PDQ PARTS,A,FNSG,9/24/2019,2019
23368,J,JanSan,1000,SAMPLE ORDER,OH,10/21/2019,ZS402,BRUSH-HI DENSITY SCRUB BRUSH,2,822.50,ZS,PDQ PARTS,A,FNSG,10/11/2019,2019
23369,J,JanSan,1000,SAMPLE ORDER,OH,10/21/2019,ZS403,BRUSH-SIDE SCRUB BRUSH,1,207.00,ZS,PDQ PARTS,A,FNSG,10/11/2019,2019
23370,I,Industrial,12663,"LIBERTY STEEL INDUSTRIES, INC.",OH,10/24/2019,ZS404,BRUSH-GRIT SIDE SCRUB BRUSH.,1,469.00,ZS,PDQ PARTS,A,FNSG,10/14/2019,2019
23371,I,Industrial,12663,"LIBERTY STEEL INDUSTRIES, INC.",OH,8/31/2020,ZS404,BRUSH-GRIT SIDE SCRUB BRUSH.,1,469.00,ZS,PDQ PARTS,A,FNSG,10/14/2019,2020

In [33]:
# The mean/averages of the integer series
average = df["price_net"].mean()
average

2419.7870541673897

In [6]:
# The sum method adds every entry in the series
total = df["price_net"].sum()
total

57271589.36

In [7]:
# The unique method shows every element of the series that appears only once
unique = df["descr_1"].unique()
unique

array(['ACTIV VIII', 'BERKEL MIDWEST FRYER CLEANER',
       'SAFE CLEAN 319000-18', ..., 'BRUSH-HI DENSITY SCRUB BRUSH',
       'BRUSH-SIDE SCRUB BRUSH', 'BRUSH-GRIT SIDE SCRUB BRUSH.'],
      dtype=object)

In [15]:
## Reorganizing the columns using double brackets
df = pd.read_csv(csvpath)
organized_df = df[["descr_1", "Item_Add_date", "Date_Invoice", "qty_ship", "price_net", "name_cust"]]
organized_df.head()

,descr_1,Item_Add_date,Date_Invoice,qty_ship,price_net,name_cust
0,ACTIV VIII,6/12/2015,3/18/2019,8,1750.56,USHER OIL COMPANY
1,ACTIV VIII,6/12/2015,5/21/2019,8,1838.08,USHER OIL COMPANY
2,ACTIV VIII,6/12/2015,2/11/2020,4,919.04,USHER OIL COMPANY
3,ACTIV VIII,6/12/2015,4/6/2020,4,919.04,USHER OIL COMPANY
4,ACTIV VIII,6/12/2015,8/19/2020,4,919.04,USHER OIL COMPANY

In [19]:
Plot=df('Item_Add_date').head(10).plot (kind= 'pie', startangle=90, labels=
Plot.set_ylabel("")

SyntaxError: unexpected EOF while parsing (<ipython-input-19-d6968e6ea897>, line 2)

In [60]:
#Select the Date_Invoice of dataframe
#s=organized_df["Date_Invoice"][0]
#s[5:len(s)]
#s[-4:]

'2019'

In [61]:
is_2019 = organized_df["Date_Invoice"]==2019
is_2019

0        False
1        False
2        False
3        False
4        False
         ...
24374    False
24375    False
24376    False
24377    False
24378    False
Name: Date_Invoice, Length: 24379, dtype: bool